* {
  margin: 0;
  padding: 0;
}

.tema-light {
  background-color: rgb(255, 255, 255);  
}

.tema-dark {
  background-color: rgb(54, 54, 47);  
}

.tema-light p, .tema-light img {
  color: black;
}

.tema-dark p, .tema-dark img {
  color: cyan;
  font-weight: bold lighter;
}